{:paths ["src" "config"]
 :deps  {org.clojure/clojure           {:mvn/version "1.11.1"}
         metosin/reitit                {:mvn/version "0.8.0"}
         metosin/muuntaja              {:mvn/version "0.6.8"}
         metosin/reitit-swagger        {:mvn/version "0.7.0-alpha7"}
         com.taoensso/timbre           {:mvn/version "6.1.0"}
         org.postgresql/postgresql     {:mvn/version "42.3.3"}
         seancorfield/next.jdbc        {:mvn/version "1.2.659"}
         metosin/reitit-ring           {:mvn/version "0.8.0"}
         fi.metosin/reitit-openapi     {:mvn/version "0.8.0"}
         fi.metosin/reitit-swagger-ui  {:mvn/version "0.7.0-alpha6"}
         environ/environ               {:mvn/version "1.2.0"}
         ring/ring-jetty-adapter       {:mvn/version "1.9.0"}
         ring/ring-core                {:mvn/version "1.9.0"}
         ring-middleware-format/ring-middleware-format   {:mvn/version "0.7.5"}}
 :main-opts ["-m" "servico-pedidos.app"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}}
