{:paths ["src" "resources"]
 :deps  {org.clojure/clojure           {:mvn/version "1.11.1"}
         metosin/reitit                {:mvn/version "0.7.0-alpha7"}
         metosin/muuntaja              {:mvn/version "0.6.8"}
         metosin/reitit-swagger        {:mvn/version "0.7.0-alpha7"}
         com.taoensso/timbre           {:mvn/version "6.1.0"}
         org.postgresql/postgresql     {:mvn/version "42.3.3"}
         seancorfield/next.jdbc        {:mvn/version "1.3.847"}
         environ/environ               {:mvn/version "1.2.0"}}}